.App {
  padding: 30px;
  display: flex;
}

.chat-history {
  display: block;
  width: 400px;
  height: 250px;
  padding: 10px;
  font-size: 13px;
  resize: none;
}

.list {
  display: block;
  margin: 20px 0;
  width: 400px;
  height: 180px;
  padding: 10px;
  font-size: 13px;
  resize: none;
}

.right {
  overflow: hidden;
}

h2 strong {
  color: #a0a0a0;
  font-size: 13px;
}